

{% extends "layout.html" %}

{% block title %}
    transactions
{% endblock %}

{% block main %}
    <form action="/edit_transactions" method="post">
        <div class="form-group">
            <input class="form-control" name="transaction" placeholder="Change transaction to" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="amount" placeholder="Change amount to" type="number" step=".01">
        </div>
        <div class="form-group">
            <input class="form-control" name="date" placeholder="Change date to" type="date">
        </div>
        <div class="form-group">
            <input class="form-control" name="category" placeholder="Change category to" type="text">
        </div>
        <button class="btn btn-primary" type="submit" value="{{ edit }}" name="edit">Edit Transaction</button>
    </form>


{% endblock %}